.pai{
	width: 100%;
	height: 100vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	font-family: times new roman;
}

#ti{
	text-decoration: none;
	color: black;
}
.filho2{
	background-color: gray;
	display: flex;
	height: 8vh;
	width: 100%;
	justify-content: space-around;
}
img{
	height: 45vh;
}
.quadros{
	height: 60vh;
	margin-top: 3vh;
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}
.rodape{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.3vh;
}